<h1>
    User SignIn Page <%= title %>
</h1>

<h2> 
    The Sign_In User Profile 
</h2>

 <p> id= <%= userId._id%> </p> 
 <p> Name= <%= userId.name%> </p>
 <p> Email Id= <%= userId.email%></p>
 <p> Password= <%= userId.password%></p>
 
 <!-- /?id=<%= userId.id,userId.name %> -->
  <a href="/logout">
   <button style="background-color: rgb(16, 16, 203); color: aliceblue;">Logout</button>
 </a>

